@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import '~ngx-toastr/toastr';

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.has-error {
    color: red;
    font-size: 12px;
}