<div class="nav">
    <a routerLink="/home" class="logoLink" routerLinkActive="active">DFO</a>
    <ul>
        <li class="active">
            <a routerLink="/create" routerLinkActive="active">
                Create User
            </a>
        </li>
        <!-- <li>
            <a routerLink="/update/1" routerLinkActive="active">
                Update User
            </a>
        </li>
        <li>
            <a routerLink="/get" routerLinkActive="active">
                Get User
            </a>
        </li> -->
        <li>
            <a routerLink="/list" routerLinkActive="active">
                List User
            </a>
        </li>
    </ul>
</div>